@page "/orderShow/{orderId:int}"

@using OpticSalon.Auth.Models
@using OpticSalon.Blazor.Shared.Dialogs
@using OpticSalon.Blazor.Shared.OrderComponents
@using OpticSalon.Domain.Enums
@using OpticSalon.Domain.Extensions
@using OpticSalon.Domain.Models

@inject IOrderService OrderService
@inject IWarrantyRepairService RepairService
@inject ISnackbar Snackbar
@inject IImageLoadingService ImageLoadingService
@inject NavigationManager NavManager
@inject IDialogService DialogService
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider;

@attribute [Authorize(Roles = $"{Role.Client},{Role.Master},{Role.Admin},{Role.Manager}")]

<PageTitle>Заказ @OrderId</PageTitle>

@if (_isLoading)
{
    <MudProgressLinear Color="MudBlazor.Color.Info" Indeterminate="true" Class="m-1" />
    return;
}

@if (_isNotFound)
{
    <MudAlert Class="m-2" Severity="Severity.Normal">Не найдено...</MudAlert>
    return;
}

@if (_isNotAvailable)
{
    <MudAlert Class="m-2" Severity="Severity.Warning">Нет доступа</MudAlert>
    return;
}

<MudContainer Class="d-flex align-center justify-center mud-width-full" style="min-height:90vh;">
    <MudCard Class="p-2 m-2" Style="border-radius: 20px;" Outlined="false" Elevation="4">
         <MudCardHeader>
            <MudGrid>
                <MudStack Row AlignItems="AlignItems.Center">
                    <MudIcon Class="m-1" Icon="@Icons.Material.Filled.Assignment" Size="Size.Medium" Color="MudBlazor.Color.Secondary"></MudIcon>
                    <MudText Typo="Typo.h6" Color="MudBlazor.Color.Secondary"><b>Заказ</b></MudText>
                    <MudText Typo="Typo.h6" Color="MudBlazor.Color.Primary"><b>@_order.Id</b></MudText>
                    <MudText Typo="Typo.h6" Color="MudBlazor.Color.Secondary"><b>от</b></MudText>
                    <MudText Typo="Typo.h6" Color="MudBlazor.Color.Primary"><b>@_order.CreatedDate.ToShortDateString()</b></MudText>
                </MudStack>
                <MudSpacer/>
                <MudStack Row AlignItems="AlignItems.Center">
                    <AuthorizeView Roles="@Role.Admin">
                        <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Статус заказа:</MudText>
                        <MudSelect @bind-Value="_order.Status" T="OrderStatus" Variant="Variant.Outlined">
                            <MudSelectItem Value="@(OrderStatus.Created)">
                                <MudChip Class="m-0" Size="Size.Small" Color="@_statusColors[OrderStatus.Created]">
                                    <MudText Typo="Typo.subtitle1">@OrderStatus.Created.GetDisplayName()</MudText>
                                </MudChip>
                            </MudSelectItem>
                            <MudSelectItem Value="@(OrderStatus.InWork)">
                                <MudChip Class="m-0" Size="Size.Small" Color="@_statusColors[OrderStatus.InWork]">
                                    <MudText Typo="Typo.subtitle1">@OrderStatus.InWork.GetDisplayName()</MudText>
                                </MudChip>
                            </MudSelectItem>
                            <MudSelectItem Value="@(OrderStatus.Completed)">
                                <MudChip Size="Size.Small" Class="m-0" Color="@_statusColors[OrderStatus.Completed]">
                                    <MudText Typo="Typo.subtitle1">@OrderStatus.Completed.GetDisplayName()</MudText>
                                </MudChip>
                            </MudSelectItem>
                            <MudSelectItem Value="@(OrderStatus.Issued)">
                                <MudChip Class="m-0" Size="Size.Small" Color="@_statusColors[OrderStatus.Issued]">
                                    <MudText Typo="Typo.subtitle1">@OrderStatus.Issued.GetDisplayName()</MudText>
                                </MudChip>
                            </MudSelectItem>
                        </MudSelect>
                        <MudIconButton Icon="@Icons.Material.Filled.Save" OnClick="@Save" Disabled="@_isSaveBtnDisabled" Style="min-width: 50px;" Color="MudBlazor.Color.Secondary"></MudIconButton>
                    </AuthorizeView>
                    <AuthorizeView Roles="@Role.Master">
                        @if (_order.Status != OrderStatus.Issued)
                        {
                            <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Статус заказа:</MudText>
                            <MudSelect @bind-Value="_order.Status" T="OrderStatus" Variant="Variant.Outlined"
                                ToStringFunc="@((x) => x.GetDisplayName())">
                                <MudSelectItem Value="@(OrderStatus.Created)">
                                    <MudChip Class="m-0" Size="Size.Small" Color="@_statusColors[OrderStatus.Created]">
                                        <MudText Typo="Typo.subtitle1">@OrderStatus.Created.GetDisplayName()</MudText>
                                    </MudChip>
                                </MudSelectItem>
                                <MudSelectItem Value="@(OrderStatus.InWork)">
                                    <MudChip Class="m-0" Size="Size.Small" Color="@_statusColors[OrderStatus.InWork]">
                                        <MudText Typo="Typo.subtitle1">@OrderStatus.InWork.GetDisplayName()</MudText>
                                    </MudChip>
                                </MudSelectItem>
                                <MudSelectItem Value="@(OrderStatus.Completed)">
                                    <MudChip Class="m-0" Size="Size.Small" Color="@_statusColors[OrderStatus.Completed]">
                                        <MudText Typo="Typo.subtitle1">@OrderStatus.Completed.GetDisplayName()</MudText>
                                    </MudChip>
                                </MudSelectItem>
                            </MudSelect>
                            <MudIconButton Icon="@Icons.Material.Filled.Save" OnClick="@Save" Disabled="@_isSaveBtnDisabled" Style="min-width: 50px;" Color="MudBlazor.Color.Secondary"></MudIconButton>
                        }
                        else
                        {
                            <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Primary">Статус заказа:</MudText>
                            <MudChip Color="@_statusColors[_order.Status]">
                                <MudText Typo="Typo.subtitle1">@_order.Status.GetDisplayName()</MudText>
                            </MudChip>
                        }
                    </AuthorizeView>
                    <AuthorizeView Roles="@Role.Manager">
                        <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Статус заказа:</MudText>
                        <MudChip Color="@_statusColors[_order.Status]">
                            <MudText Typo="Typo.subtitle1">@_order.Status.GetDisplayName()</MudText>
                        </MudChip>
                        @if (_order.Status == OrderStatus.Completed)
                        {
                              <MudButton Style="min-width: 100px;" OnClick="@IssueOrder" Variant="Variant.Filled" Color="MudBlazor.Color.Primary">Выдать заказ</MudButton>
                        }    
                        
                        @if (_order.Status == OrderStatus.Issued)
                        {
                              <MudIconButton Size="Size.Medium" OnClick="@CreateWarrantyRepair" Variant="Variant.Filled"
                                Color="MudBlazor.Color.Secondary" Icon="@Icons.Material.Filled.Handyman"/>
                        } 
                    </AuthorizeView>
                    <AuthorizeView Roles="@Role.Client">
                        <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Статус заказа:</MudText>
                        <MudChip Color="@_statusColors[_order.Status]">
                            <MudText Typo="Typo.subtitle1">@_order.Status.GetDisplayName()</MudText>
                        </MudChip>
                    </AuthorizeView>
                </MudStack>    
            </MudGrid>        
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudPaper Outlined Elevation="0" Class="p-3 m-0 w-100">
                        <MudGrid>
                            <MudItem xs="12">
                                <MudChip Icon="@Icons.Custom.Brands.Awesome" Color="MudBlazor.Color.Primary">
                                    <MudText Typo="Typo.subtitle1">Оправа</MudText>
                                </MudChip>
                            </MudItem>
                            <MudItem xs="12">
                                <MudGrid Justify="Justify.SpaceAround" Spacing="1">
                                    <MudItem xs="12" md="6" sm="6">
                                        <div style="display:flex; justify-content:start;">
                                            <MudImage id="frame-image" Src="@GetImageSrc(_order.Frame.MainImageName)" Elevation="2" Style="min-width:150px; width: 90%;" Alt="" />
                                        </div>
                                    </MudItem>
                                    <MudItem xs="12" md="6" sm="6">
                                        <MudGrid Spacing="1">
                                            <MudItem xs="12">
                                               <MudStack Row AlignItems="AlignItems.Center">
                                                    <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Бренд:</MudText>
                                                    <MudText Typo="Typo.h6" Style="font-weight: 400">@(_order.Frame.Brand?.Name)</MudText>
                                                </MudStack>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudStack Row AlignItems="AlignItems.Center">
                                                    <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Модель:</MudText>
                                                   <MudLink Typo="Typo.h6" Style="font-weight: 400" Class="m-0" OnClick="@(() => OpenFramePage(_order.Frame.Id))" 
                                                        Underline="Underline.Always">
                                                        @_order?.Frame?.Model
                                                    </MudLink>
                                                </MudStack>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudStack Row AlignItems="AlignItems.Center">
                                                    <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Размеры:</MudText>
                                                    <MudText Typo="Typo.h6" Style="font-weight: 400">@GetSizeString(_order.Frame.Sizes)</MudText>
                                                </MudStack>
                                            </MudItem>
                                        
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Выбранный цвет:</MudText>
                                                <MudFab Size="Size.Medium" Class="m-2 ms-0" style="@($"background-color: {_order.FrameColor?.Value};")"></MudFab>
                                            </MudItem>
                                        </MudGrid>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="6">
                   <MudPaper Outlined Elevation="0" Class="p-3 m-0 h-100 w-100">
                       <MudGrid>
                            <MudItem xs="12">
                                <MudChip Icon="@Icons.Material.Filled.Article" Color="MudBlazor.Color.Primary">
                                    <MudText Typo="Typo.subtitle1">Рецепт</MudText>
                                </MudChip>
                            </MudItem>
                            <MudItem xs="12">
                                <MudGrid>
                                    <MudItem xs="12" sm="1" md="1">
                                        <MudText Typo="Typo.h6" Style="font-weight: 600; text-decoration:underline;" 
                                        Color="MudBlazor.Color.Secondary">OD:</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" md="4">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudText Typo="Typo.h6" Style="font-weight: 400" Color="MudBlazor.Color.Secondary">Sph:</MudText>
                                            <MudText Typo="Typo.h6">@GetNumber(_order.Recipe.RightEye.Sph)</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" md="4">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudText Typo="Typo.h6" Style="font-weight: 400" Color="MudBlazor.Color.Secondary">Cyl:</MudText>
                                            <MudText Typo="Typo.h6">@GetNumber(_order.Recipe.RightEye.Cyl)</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="3" md="3">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudText Typo="Typo.h6" Style="font-weight: 400" Color="MudBlazor.Color.Secondary">Ax:</MudText>
                                            <MudText Typo="Typo.h6">@_order.Recipe.RightEye.Axis</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="1" md="1">
                                        <MudText Typo="Typo.h6" Style="font-weight: 600; text-decoration:underline;" 
                                        Color="MudBlazor.Color.Secondary">OS:</MudText>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" md="4">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudText Typo="Typo.h6" Style="font-weight: 400" Color="MudBlazor.Color.Secondary">Sph:</MudText>
                                            <MudText Typo="Typo.h6">@GetNumber(_order.Recipe.LeftEye.Sph)</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="4" md="4">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudText Typo="Typo.h6" Style="font-weight: 400" Color="MudBlazor.Color.Secondary">Cyl:</MudText>
                                            <MudText Typo="Typo.h6">@GetNumber(_order.Recipe.LeftEye.Cyl)</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12" sm="3" md="3">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudText Typo="Typo.h6" Style="font-weight: 400" Color="MudBlazor.Color.Secondary">Ax:</MudText>
                                            <MudText Typo="Typo.h6">@_order.Recipe.LeftEye.Axis</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudText Typo="Typo.h6" Style="font-weight: 600;" Color="MudBlazor.Color.Secondary">Dp (mm):</MudText>
                                            <MudText Typo="Typo.h6">@_order.Recipe.Dp</MudText>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                       </MudGrid>
                   </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Outlined Elevation="0" Class="p-3 m-0 w-100">
                        <MudGrid>
                            <MudItem xs="12" md="6">
                                <MudGrid Spacing="1">
                                    <MudItem xs="12">
                                        <MudChip Icon="@Icons.Material.Filled.Dehaze" Color="MudBlazor.Color.Primary">
                                            <MudText Typo="Typo.subtitle1">Прочие данные</MudText>
                                        </MudChip>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Пакет линз:</MudText>
                                            <MudText Typo="Typo.h6" Style="font-weight: 400">@_order.LensPackage.Name</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <AuthorizeView Roles="@($"{Role.Admin}, {Role.Manager}")">
                                        <MudItem xs="12">
                                            <MudStack Row AlignItems="AlignItems.Start">
                                                <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Клиент:</MudText>
                                                <MudText Typo="Typo.h6" Style="font-weight: 400">@($"{_order.Client.Surname} {_order.Client.Name}")</MudText>
                                            </MudStack>
                                        </MudItem>
                                    </AuthorizeView>
                                    <AuthorizeView Roles="@($"{Role.Admin}, {Role.Manager}, {Role.Client}")">
                                        <MudItem xs="12">
                                            <MudStack Row AlignItems="AlignItems.Start">
                                                <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Мастер:</MudText>
                                                <MudText Typo="Typo.h6" Style="font-weight: 400">@($"{_order.Master.Surname} {_order.Master.Name}")</MudText>
                                            </MudStack>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudStack Row AlignItems="AlignItems.Start">
                                                <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Итоговая стоимость:</MudText>
                                                <MudText Typo="Typo.h6" Style="font-weight: 400">@(_order.Frame.Cost + _order.LensPackage.Cost) руб.</MudText>
                                            </MudStack>
                                        </MudItem>
                                        @if (_order.Status == OrderStatus.Issued && _order.IssueDate != null)
                                        {
                                            <MudItem xs="12">
                                                <MudStack Row AlignItems="AlignItems.Start">
                                                    <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Дата выдачи:</MudText>
                                                    <MudText Typo="Typo.h6" Style="font-weight: 400">@(((DateTime)_order.IssueDate).ToShortDateString())</MudText>
                                                </MudStack>
                                            </MudItem>
                                        }
                                    </AuthorizeView>
                                    <MudItem xs="12">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Номер телефона:</MudText>
                                            <MudText Typo="Typo.h6" Style="font-weight: 400">@_order.ContactPhoneNumber</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudStack Row AlignItems="AlignItems.Start">
                                            <MudText Typo="Typo.h6" Style="font-weight: 600" Color="MudBlazor.Color.Secondary">Комментарий:</MudText>
                                            <MudText Typo="Typo.h6" Style="font-weight: 400">@_order.Comment</MudText>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {
    [Parameter]
    public int OrderId { get; set; }
    private Order _order;
    private bool _isLoading;
    private bool _isNotFound;
    private bool _isNotAvailable;
    private bool _isSaveBtnDisabled;
    private Dictionary<OrderStatus, MudBlazor.Color> _statusColors = new Dictionary<OrderStatus, MudBlazor.Color>()
    {
        {OrderStatus.Created , MudBlazor.Color.Surface},
        {OrderStatus.InWork , MudBlazor.Color.Warning},
        {OrderStatus.Completed , MudBlazor.Color.Info},
        {OrderStatus.Issued , MudBlazor.Color.Success}
    };

    protected async override Task OnInitializedAsync()
    {
        await LoadOrderData();
        await SetIsNotAvailable();
    }

    private async Task LoadOrderData()
    {
        _isLoading = true;
        var res = await OrderService.GetOrderById(OrderId); 
        _isLoading = false;

        if (!res.Success)
        {
            _isNotFound = true;
            return;
        }

        _order = res.Data!;
    }

    private string GetSizeString(FrameSizes sizes)
    {
        return $"{sizes.LensWidth}-{sizes.DistanceBetweenLens}-{sizes.TempleLenght}";
    }

    private string GetImageSrc(string name)
    {
        return $"https://localhost:7087/getImage?name={name}";
    }

    private string GetNumber(double number)
    {
        if (number > 0)
        {
            return "+" + number.ToString("0.00");
        }
        else
        {
            return number.ToString("0.00");
        }
    }

    private async Task Save()
    {
        var parameters = new DialogParameters
        {
            { "Question", "Вы точно желаете поменять статус заказа?" }
        };

        var dialog = await DialogService.ShowAsync<QuestionDialog>("Изменение статуса", parameters);
        var result = await dialog.Result;

        if (result.Canceled)
        {
            return;
        }

        _isSaveBtnDisabled = true;
        var res = await OrderService.UpdateOrder(_order);
        _isSaveBtnDisabled = false;

        if (res.Success)
        {
            Snackbar.Add(res.Description, Severity.Info);
            return;
        }

        Snackbar.Add(res.Description, Severity.Warning);
        await LoadOrderData();
        await InvokeAsync(StateHasChanged);
    }

    private void OpenFramePage(int id)
    {
        NavManager.NavigateTo($"/frameShow/{id}");
    }

    private async void IssueOrder()
    {
        var parameters = new DialogParameters
        {
            { "Question", "Вы точно хотите выдать заказ клиенту?" }
        };

        var dialog = await DialogService.ShowAsync<QuestionDialog>("Выдача заказа", parameters);
        var result = await dialog.Result;

        if (result.Canceled)
        {
            return;
        }

        _order.Status = OrderStatus.Issued;

        _isSaveBtnDisabled = true;
        var res = await OrderService.UpdateOrder(_order);
        _isSaveBtnDisabled = false;

        if (!res.Success)
        {
            Snackbar.Add(res.Description, Severity.Warning);
            return;
        }

        Snackbar.Add("Статус заказа обновлен!", Severity.Info);
        await LoadOrderData();
        await InvokeAsync(StateHasChanged);
    }

    private async void CreateWarrantyRepair()
    {
        var checkRes = await RepairService.CanCreateWarrantyRepair(_order.Id);

        if (!checkRes.Success)
        {
            Snackbar.Add(checkRes.Description, Severity.Warning);
            return;
        }

        var parameters = new DialogParameters()
        {
            {"OrderId", _order.Id}
        };

        var dialog = await DialogService.ShowAsync<CreateWarrantyRepairDialog>("Оформление гарантийного ремонта", parameters);

        var res = await dialog.Result;

        if (!res.Canceled)
        {
            NavManager.NavigateTo($"/warrantyRepair/{(int)res.Data}");
        }
    }

    private async Task SetIsNotAvailable()
    {
        if (_order == null)
        {
            return;
        }

        var userIdentity = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

        if (userIdentity is null)
        {
            return;
        }

        if (!userIdentity.IsInRole(Role.Client))
        {
            return;
        }

        var clientId = int.Parse(userIdentity.Claims.First(x => x.Type == UserClaims.ClientId).Value);

        if (clientId != _order.Client.Id)
        {
            _isNotAvailable = true;
        }
    }
}