@page "/"

@using Microsoft.AspNetCore.Identity
@using MudBlazor.Utilities
@using OpticSalon.Auth.Models
@using OpticSalon.Blazor.Data.Consts
@using OpticSalon.Blazor.Data.Credentials
@using OpticSalon.Blazor.Services
@using OpticSalon.Domain.Models

@inject UserManager<OpticSalonUser> UserManager
@inject IFrameService FrameService
@inject BrowserService BrowserService
@inject IFrameTypeService FrameTypeService
@inject IFrameMaterialService FrameMaterialService
@inject IFrameColorService FrameColorService
@inject IBrandService BrandService
@inject IGenderService GenderService
@inject IClientService ClientService
@inject IImageLoadingService ImageLoadingService
@inject NavigationManager NavManager
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Каталог</PageTitle>

<MudPaper Class="m-2 me-0 p-2" Elevation="2">
    <MudStack Row>
        <MudStack Row AlignItems="AlignItems.Center">
            <MudIcon Icon="@Icons.Material.Filled.Menu" Size="Size.Large" Color="MudBlazor.Color.Secondary"></MudIcon>
            <MudText Typo="Typo.h4" Color="MudBlazor.Color.Secondary">Каталог</MudText>
        </MudStack>
        <MudSpacer />
        @if(_isSearchBarVisible)
        {
            <MudTextField ValueChanged="@((text) => SearchTextChanged(text))" T="string" Placeholder="Поиск" 
            Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" 
            IconSize="Size.Medium"></MudTextField>
        }
        else
        {
            <MudIconButton Icon="@Icons.Material.Filled.Search" Color="MudBlazor.Color.Primary" Size="Size.Medium"
                        OnClick="@ChangeSearchDrawer"></MudIconButton>
        }

        @if (_isFilterBtnShort)
        {
            <MudIconButton Disabled="_isLoading" Style="min-width: 40px;" OnClick="ChangeDrawer" Icon="@Icons.Material.Filled.FilterAlt"
                   Variant="Variant.Filled" Color="MudBlazor.Color.Primary"></MudIconButton>
        }
        else
        {
            <MudButton Disabled="_isLoading" Style="min-width: 100px;" OnClick="ChangeDrawer"
                   Variant="Variant.Filled" Color="MudBlazor.Color.Primary">Фильтр</MudButton>
        }
    </MudStack>
</MudPaper>

@if (_isLoading)
{
    <MudProgressLinear Color="MudBlazor.Color.Info" Indeterminate="true" Class="m-1" />
    return;
}

@if (_frames.Count == 0)
{
    <MudAlert Class="m-2" Severity="Severity.Normal">Ничего не найдено...</MudAlert>
}
else
{
    <MudGrid Class="m-0 pe-2" Justify="Justify.Center" Spacing="2">
        @foreach (var frame in _frames)
        {
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudCard Elevation="3">
                    <div class="mud-card-media" style="min-height:150px;">
                        <MudImage id="@(frame.Id)" Src="@GetImageSrc(frame.MainImageName)" Style="display: block; margin: auto;object-fit: contain; max-width: 95%; max-height: 30vh" />
                    </div>

                    <MudCardContent>
                        <MudText Typo="Typo.h5" Color="MudBlazor.Color.Secondary">@($"{frame.Brand.Name} {frame.Model}")</MudText>
                        <MudText Typo="Typo.body2">Размеры: @(GetSizeString(frame.Sizes))</MudText>
                        <MudText Typo="Typo.body1">Стоимость: @($"{frame.Cost} руб.")</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton OnClick="@(() => ShowFrame(frame.Id))" FullWidth Variant="Variant.Outlined" Color="MudBlazor.Color.Primary">Подробнее</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}

@if(!_isSearchBarVisible)
{
    <MudDrawer @bind-Open="@_isSerachDrawerOpen" Anchor="Anchor.Top" Style="overflow-x: hidden;" 
        Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudTextField ValueChanged="@((text) => SearchTextChanged(text))" T="string" Placeholder="Поиск" 
                Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" 
                IconSize="Size.Medium"></MudTextField>            
        </MudDrawerHeader>
    </MudDrawer>
}

<MudDrawer Width="350px" @bind-Open="@_isDrawerOpen" Height="100%"
           Anchor="Anchor.Right" Elevation="1" Style="overflow-x: hidden;" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudStack Row AlignItems="AlignItems.Center">
            <MudIcon Icon="@Icons.Material.Outlined.FilterAlt" Size="Size.Large" Color="MudBlazor.Color.Secondary"></MudIcon>
            <MudText Color="MudBlazor.Color.Secondary" Typo="Typo.h6">Фильтр</MudText>
        </MudStack>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Outlined.Close" OnClick="ChangeDrawer"></MudIconButton>
    </MudDrawerHeader>
    <MudDrawerContainer>
        <MudGrid Class="p-3" Spacing="1">
            <MudItem xs="12">
                <MudText Typo="Typo.button">Стоимость</MudText>
            </MudItem>
            <MudItem xs="12">
                <MudStack Row AlignItems="AlignItems.Center">
                    <MudNumericField T="decimal" @bind-Value="_filter.MinCost" Variant="Variant.Outlined" Label="От" Min="0" Max="@int.MaxValue"></MudNumericField>
                    <MudText Typo="Typo.h5" Align="Align.Center">-</MudText>
                    <MudNumericField T="decimal" @bind-Value="_filter.MaxCost" Variant="Variant.Outlined" Label="До" Min="0" Max="@int.MaxValue"></MudNumericField>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudSelect T="FrameMaterial" @bind-Value="_filter.Material" Clearable Variant="Variant.Outlined"
                           Label="Материал оправы" ToStringFunc="@((x) => x?.Name)">
                    @foreach (var material in _frameMaterials)
                    {
                        <MudSelectItem Value="@(material)" />
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12">
                <MudSelect T="FrameType" @bind-Value="_filter.Type" Clearable Variant="Variant.Outlined"
                           Label="Тип оправы" ToStringFunc="@((x) => x?.Name)">
                    @foreach (var type in _frameTypes)
                    {
                        <MudSelectItem Value="@(type)" />
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12">
                <MudSelect T="Brand" @bind-Value="_filter.Brand" Clearable Variant="Variant.Outlined"
                           Label="Бренд" ToStringFunc="@((x) => x?.Name)">
                    @foreach (var brand in _frameBrands)
                    {
                        <MudSelectItem Value="@(brand)" />
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12">
                <MudSelect T="Gender" @bind-Value="_filter.Gender" Clearable Variant="Variant.Outlined"
                           Label="Пол" ToStringFunc="@((x) => x?.Name)">
                    @foreach (var gender in _genders)
                    {
                        <MudSelectItem Value="@(gender)" />
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12">
                <MudStack Row AlignItems="AlignItems.Center">
                    <MudFab Size="Size.Medium" style="@($"background-color: {_filter.Color?.Value};")"></MudFab>
                    <MudColorPicker ValueChanged="@(ColorChanged)" Clearable Variant="Variant.Outlined" Label="Цвет оправы"
                                    TransformOrigin="Origin.CenterCenter" ColorPickerView="ColorPickerView.Palette"
                                    Palette="_pickerColors"></MudColorPicker>
                </MudStack>
            </MudItem>
            @if (_currentClientPreferences is not null)
            {
                <MudItem xs="12">
                    <MudCheckBox @bind-Checked="_filter.IsClientPrefencesSelected" Label="По вашим предпочтениям"
                             Size="Size.Medium" Color="MudBlazor.Color.Primary"></MudCheckBox>
                </MudItem>
            }
            <MudItem xs="12">
                <MudButton FullWidth OnClick="@(async () => await FillFramesData())" Variant="Variant.Filled"
                           Color="MudBlazor.Color.Primary">Применить</MudButton>
            </MudItem>
            <MudItem xs="12">
                <MudButton FullWidth OnClick="@(ClearFilter)" Variant="Variant.Outlined"
                           Color="MudBlazor.Color.Primary">Очистить</MudButton>
            </MudItem>
        </MudGrid>
    </MudDrawerContainer>
</MudDrawer>

@code {
    private List<FrameShort> _allFrames = new();
    private List<FrameShort> _frames = new();
    private List<FrameMaterial> _frameMaterials = new();
    private List<FrameType> _frameTypes = new();
    private List<Brand> _frameBrands = new();
    private List<OpticSalon.Domain.Models.Color> _frameColors = new();
    private List<Gender> _genders = new();
    private FramesFilterCredentials _filter = new();
    private ClientPreferences _currentClientPreferences = null!;
    private string _searchStr = "";

    private bool _isDrawerOpen;
    private bool _isLoading;
    private bool _isManager;
    private bool _isSerachDrawerOpen;
    private bool _isSearchBarVisible;
    private bool _isFilterBtnShort;
    private bool _isClient;
    private bool _isImagesLoaded;
    private List<MudColor> _pickerColors { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await SetIsManager();
        await FillFilterData();
        await FillFramesData();
        await SetSearchBar();
        await SetFilterBtnSize();
    }

    private async Task SetIsManager()
    {
        var userIdentity = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

        if (!userIdentity.Identity.IsAuthenticated)
        {
            return;
        }

        var user = await UserManager.FindByEmailAsync(userIdentity.Identity?.Name);

        if (user == null)
        {
            return;
        }

        _isManager = await UserManager.IsInRoleAsync(user, Role.Manager) || await UserManager.IsInRoleAsync(user, Role.Admin);
    }

    private async Task FillFilterData()
    {
        _filter.MinCost = FrameService.GetMinFrameCost();
        _filter.MaxCost = FrameService.GetMaxFrameCost();

        var frameTypeResult = await FrameTypeService.GetAllFrameTypes();

        if (frameTypeResult.Success)
            _frameTypes = frameTypeResult.Data!;

        var frameMaterialResult = await FrameMaterialService.GetAllFrameMaterials();

        if (frameMaterialResult.Success)
            _frameMaterials = frameMaterialResult.Data!;

        var brandResult = await BrandService.GetAllBrands();

        if (brandResult.Success)
            _frameBrands = brandResult.Data!;

        var genderResult = await GenderService.GetAllGenders();

        if (genderResult.Success)
            _genders = genderResult.Data!;

        var frameColorsResult = await FrameColorService.GetAllFrameColors();

        if (frameColorsResult.Success)
        {
            _frameColors = frameColorsResult.Data!;
            _frameColors.ForEach(x => _pickerColors.Add(new MudColor(x.Value)));
        }

        await LoadClientPreferences();

        await InvokeAsync(StateHasChanged);
    }

    private async Task SetSearchBar()
    {
        var dimensions = await BrowserService.GetDimensions();

        if (dimensions.Width < DeviceConsts.MobileDeviceWidth)
        {
            _isSearchBarVisible = false;
            return;
        }

        _isSearchBarVisible = true;

        await InvokeAsync(StateHasChanged);
    }

    private async Task SetFilterBtnSize()
    {
        var dimensions = await BrowserService.GetDimensions();

        if (dimensions.Width < DeviceConsts.MobileDeviceWidth)
        {
            _isFilterBtnShort = true;
            return;
        }

        _isFilterBtnShort = false;

        await InvokeAsync(StateHasChanged);
    }

    private async Task FillFramesData()
    {
        _isLoading = true;
        _isImagesLoaded = false;
        var res = await FrameService.GetAllFrames(_filter.Type?.Id, _filter.Material?.Id,
                                _filter.Color?.Id, _filter.Gender?.Id, _filter.Brand?.Id,
                                _filter.IsClientPrefencesSelected ? _currentClientPreferences : null, 
                                _filter.MinCost, _filter.MaxCost, _isManager);

        if (res.Success)
        {
            _allFrames = res.Data!;
            Search();
        }

        _isLoading = false;

        await InvokeAsync(StateHasChanged);
    }

    private void SearchTextChanged(string text)
    {
        _searchStr = text.ToLower();

        Search();
    }

    private void Search()
    {
        if (string.IsNullOrWhiteSpace(_searchStr))
        {
            _frames = _allFrames;
            return;
        }

        _frames = _allFrames
                .Where(x => x.Brand.Name.ToString().ToLower().Contains(_searchStr)
                || x.Model.ToLower().Contains(_searchStr) 
                || $"{x.Brand.Name} {x.Model}".ToLower().Contains(_searchStr)).ToList();
    }

    private async Task LoadClientPreferences()
    {
        var userIdentity = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

        if (!userIdentity.Identity!.IsAuthenticated)
        {
            return;
        }

        var user = await UserManager.FindByEmailAsync(userIdentity.Identity?.Name);

        _isClient = await UserManager.IsInRoleAsync(user, Role.Client);

        if (!_isClient)
        {
            return;
        }

        var clientId = int.Parse(userIdentity.Claims.First(x => x.Type == UserClaims.ClientId).Value);

        var res = await ClientService.GetClientPreferences(clientId);

        if (res.Success)
        {
            _currentClientPreferences = res.Data!;
        }
    }

    private string GetSizeString(FrameSizes sizes)
    {
        return $"{sizes.LensWidth}-{sizes.DistanceBetweenLens}-{sizes.TempleLenght}";
    }

    private void ChangeDrawer()
    {
        _isDrawerOpen = !_isDrawerOpen;
    }

    private void ChangeSearchDrawer()
    {
        _isSerachDrawerOpen = !_isSerachDrawerOpen;
    }

    private void ColorChanged(MudColor mudColor)
    {
        var color = mudColor.Value.Substring(0, mudColor.Value.Length - 2);

        _filter.Color = _frameColors.FirstOrDefault(x => x.Value.ToLower() == color)!;

        StateHasChanged();
    }

    private string GetImageSrc(string name)
    {
        return $"https://localhost:7087/getImage?name={name}";
    }

    private async Task ClearFilter()
    {
        _filter = new FramesFilterCredentials();
        _filter.MinCost = FrameService.GetMinFrameCost();
        _filter.MaxCost = FrameService.GetMaxFrameCost();
        await FillFramesData();
    }

    private void ShowFrame(int frameId)
    {
        NavManager.NavigateTo($"/frameShow/{frameId}");
    }
}